<!DOCTYPE html>
{% load google %}
<html>
<head lang="pt-BR">
    <meta charset="utf-8" />
    {% block extra_meta %}
    {% endblock %}
    <title>Projeto DoM {% block subtitle %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% google_analytics %}
</head>
<body>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
</body>
</html>
